<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="description">
  <meta name="keywords" content="no keywords">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .slide-enter-active,
    .slide-leave-active {
      transition: all 0.5s ease;
    }

    .slide-enter,
    .slide-leave-to {
      transform: translateX(100%);
    }

    .slide-leave-active {
      transition-duration: 0.5s;
    }
  </style>
</head>

<body>
  <h1>equisde</h1>
</body>
</html>